<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>

<body>
    <%- include('./partial/nav.ejs') %>

   <div class="about content">
       <h2>About Us</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, pariatur vero unde perspiciatis reprehenderit dolores, odit praesentium, quaerat a sapiente alias quam fugiat eaque libero obcaecati maxime tempora earum illo!</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe error illum maiores laboriosam voluptatem non, veniam sed? Doloribus ratione soluta laudantium excepturi quaerat explicabo nisi adipisci, temporibus, aliquam ea error.</p>

       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nihil nobis sapiente quia eos fuga error officiis facilis, pariatur, dolores aliquid ab autem consequuntur assumenda numquam maiores minus nulla quos.</p>
   </div>
</body>
<div>
    <%- include('./partial/footer.ejs') %>
</div>
</html>